<a href="https://colab.research.google.com/github/TinyDigitalHouse/python/blob/main/python_lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Anyone can code

To be a coder you just need to learn a few basic rules and
commands, and then you can start writing programs to
suit your skills and interests. If you’re into science, for
example, you could make an app that draws graphs from
the results of your experiments. Or you could use your art
skills to design an alien world for your own video game

In [6]:
# Using numbers

In [ ]:
# Symbol Meaning
# +  add
# –  subtract
# *  multiply
# /  divide

# Basic Math Operations

In [ ]:
10 + 3

In [ ]:
10 - 3

In [ ]:
10 * 3

In [ ]:
10 / 3

In [ ]:
10 // 3

In [ ]:
10.5 // 3

In [ ]:
10 ** 3

In [ ]:
1e3

In [ ]:
10 % 3

In [ ]:
1 + 2 * 5 ** 2

In [ ]:
# Try it your self

# print

In [ ]:
print('สวัสดีครับ')

In [ ]:
greeting = 'สวัสดีครับ คุณ'
name = 'สมชาย'
print(f'{greeting}{name}')

In [ ]:
money = 123.44578
print(f'ยอดเงินคงเหลือของท่านคือ {money:.2f}')

# input

In [ ]:
name = input('กรุณาบอกชื่อของคุณ:')
print(f'{greeting}{name}')

กรุณาบอกชื่อของคุณ:ปริญญา
สวัสดีครับ คุณปริญญา

In [ ]:
a = input('จำนวนแรก:')
b = input('จำนวนที่สอง:')
print(a + b)  # always str

จำนวนแรก:1
จำนวนที่สอง:2
12

In [ ]:
a = input('จำนวนแรก:')
b = input('จำนวนที่สอง:')
print(int(a) + int(b))

จำนวนแรก:3
จำนวนที่สอง:4
7

# **String**

In [ ]:
# create a string using double quotes
string1 = "Python programming"

# create a string using single quotes
string1 = 'Python programming'

In [ ]:
# create string type variables

name = "Python"
print(name)

message = "I love Python."
print(message)

In [ ]:
greet = 'hello'

# access 1st index element
print(greet[1]) # "e"

e

In [ ]:
greet = 'hello'

# access 4th last element
print(greet[-4]) # "e"

In [ ]:
message = 'Hola Amigos'
message[0] = 'H'
print(message)

In [ ]:
message = 'Hola Amigos'

# assign new string to message variable
message = 'Hello Friends'

prints(message); # prints "Hello Friends"

NameError: ignored

In [ ]:
# multiline string 
message = """
Never gonna give you up
Never gonna let you down
"""

print(message)

# **Python String Operations**

In [ ]:
str1 = "Hello, world!"
str2 = "I love Python."
str3 = "Hello, world!"

# compare str1 and str2
print(str1 == str2)

# compare str1 and str3
print(str1 == str3)

# **Join Two or More Strings**

In [ ]:
greet = "Hello, "
name = "Jack"

# using + operator
result = greet + name
print(result)

# Output: Hello, Jack

# **Iterate Through a Python String**

In [ ]:
greet = 'Hello'

# iterating through greet string
for letter in greet:
    print(letter)

# **Python String Length**
In Python, we use the len() method to find the length of a string. For example,

In [ ]:
greet = 'Hello'

# count length of greet string
print(len(greet))

# Output: 5

# **String Membership Test**
We can test if a substring exists within a string or not, using the keyword in.

In [ ]:
print('a' in 'program') # True
print('at' not in 'battle') #False

# **Escape Sequences in Python**
The escape sequence is used to escape some of the characters present inside a string.

Suppose we need to include both double quote and single quote inside a string,

In [ ]:
example = "He said, "What's there?""

print(example) # throws error