<a href="https://colab.research.google.com/github/TinyDigitalHouse/python/blob/main/python_lesson2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Common Data Types

Examples Data type

> Integers           -2, -1, 0, 1, 2, 3, 4, 5



> Floating-point numbers  -1.25, -1.0, -0.5, 0.0, 0.5, 1.0, 1.25


> Strings  'a', 'aa', 'aaa', 'Hello!', '11 cats'

In [ ]:
# Integers and Floats
# When you divide any two numbers, even if they are integers that result
# in a whole number, you’ll always get a float:
4/2

In [ ]:
#If you mix an integer and a float in any other operation, you’ll get a float as well
1 + 2.0

In [ ]:
3.0 ** 2

In [ ]:
2 * 3.0

In [ ]:
type(3.0 ** 2)

find type of value as follow


> Thailand

> 3

> 500

> 0.2


> 9 cats

In [ ]:
type("1")