<a href="https://colab.research.google.com/github/TinyDigitalHouse/python/blob/main/python_lesson_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INTRODUCING LISTS**

What Is a List?
A list is a collection of items in a particular order. You can make a list
that includes the letters of the alphabet, the digits from 0–9, or the
names of all the people in your family. You can put anything you want
into a list, and the items in your list don’t have to be related in any
particular way. Because a list usually contains more than one element,
it’s a good idea to make the name of your list plural, such as letters,
digits, or names.

In [ ]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']

In [ ]:
print(bicycles)

Lists are ordered collections, so you can access any element in a list by
telling Python the position, or index,

In [ ]:
print(bicycles[0])

In [ ]:
print(bicycles[0].title())

In [ ]:
# Index Positions Start at 0, Not 1
print(bicycles)
print(bicycles[1])
print(bicycles[3])

Python has a special syntax for accessing the last element in a list. By
asking for the item at index -1, Python always returns the last item in
the list:

In [ ]:
print(bicycles[-1])

In [ ]:
# Let’s try pulling the first bicycle from the list and composing a message using that value.
message = f"My first bicycle was a {bicycles[0].title()}."
print(message)

# **TRY IT YOURSELF**
Try these short programs to get some firsthand experience with Python’s lists. You
might want to create a new folder for each chapter’s exercises to keep them organized.

1.  Names: Store the names of a few of your friends in a list called names. Print each person’s name by accessing each element in the list, one at a time

In [ ]:
# Code here.

2. Greetings: Start with the list you used in Exercise 1., but instead of just printing each person’s name, print a message to them. The text of each message should be the same, but each message should be personalized with the person’s name.

In [ ]:
# Code here.

3. Your Own List: Think of your favorite mode of transportation, such as a
motorcycle or a car, and make a list that stores several examples. Use your list to print a series of statements about these items, such as “I would like to own a Honda motorcycle.”

In [ ]:
# Code here.

# **Modifying Elements in a List**

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

In [ ]:
motorcycles[0] = 'ducati'
print(motorcycles)

In [ ]:
#modify last list with bmw

Appending Elements to the End of a List

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
motorcycles.append('ducati')
print(motorcycles)

The append() method makes it easy to build lists dynamically. For
example, you can start with an empty list and then add items to the list
using a series of append() calls. Using an empty list, let’s add the elements
'honda', 'yamaha', and 'suzuki' to the list:

In [ ]:
motorcycles = []
motorcycles.append('honda')
motorcycles.append('yamaha')
motorcycles.append('suzuki')

print(motorcycles)

['honda', 'yamaha', 'suzuki']

Try it yor self.

1. Using an empty list, let’s add the elements 'apple', 'banana', and 'mango' to the list:
2. Using an empty list, let’s add the elements 'red', 'blue', and 'green' to the list:
3. Access first and last element in a list by telling Python the position, or index of fruits and colors.

In [ ]:
# code here.

You can also use the remove() method to work with a value

In [ ]:
too_expensive = 'ducati'
motorcycles.remove(too_expensive)
print(motorcycles)

# **Sorting a List Permanently with the sort() Method**

In [ ]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort()
print(cars)

# Removing Elements from a List

Removing an Item Using the del Statement
If you know the position of the item you want to remove from a list,
you can use the del statement

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
del motorcycles[0]
print(motorcycles)

['yamaha', 'suzuki']

You can remove an item from any position in a list using the del
statement if you know its index. For example, here’s how to remove the
second item, 'yamaha', in the list:

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

In [ ]:
del motorcycles[1]
print(motorcycles)

Removing an Item Using the pop() Method

The pop() method removes the last item in a list, but it lets you work
with that item after removing it. The term pop comes from thinking of a
list as a stack of items and popping one item off the top of the stack. In
this analogy, the top of a stack corresponds to the end of a list.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
print(motorcycles)

['honda', 'yamaha', 'suzuki']

In [ ]:
popped_motorcycle = motorcycles.pop()
print(motorcycles)
print(popped_motorcycle)

['honda', 'yamaha']
suzuki

Popping Items from any Position in a List

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki']
first_owned = motorcycles.pop(0)
print(f"The first motorcycle I owned was a {first_owned.title()}.")

The first motorcycle I owned was a Honda.

Removing an Item by Value

For example, let’s say we want to remove the value 'ducati' from the
list of motorcycles.

In [ ]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati']

In [ ]:
print(motorcycles)

In [ ]:
motorcycles.remove('ducati')

In [ ]:
print(motorcycles)

# Try It your self

Guest List: If you could invite anyone, living or deceased, to dinner, who would
you invite? Make a list that includes at least three people you’d like to invite to dinner.
Then use your list to print a message to each person, inviting them to dinner.

Changing Guest List: You just heard that one of your guests can’t make the dinner,
so you need to send out a new set of invitations. You’ll have to think of someone else to
invite.

Getting a List’s Length with the len() Function
The len() function will return the number of values that are in a list value passed to it, just like it can count the number of characters in a string value. Enter the following into the interactive shell:

In [1]:
spam = ['cat', 'dog', 'moose']

In [ ]:
len(spam)

# WORKING WITH LISTS

Looping Through an Entire List
You’ll often want to run through all entries in a list, performing the
same task with each item. For example, in a game you might want to
move every element on the screen by the same amount, or in a list of
numbers you might want to perform the same statistical operation on
every element. Or perhaps you’ll want to display each headline from a
list of articles on a website. When you want to do the same action with
every item in a list, you can use Python’s for loop.

To print hello five times in Python, you could do the following:

In [ ]:
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")
print("hello")

In [8]:
#But this is rather tedious. Instead, you can use a for loop to
#reduce the amount of typing and repetition, like this:
for i in range(0, 5):
  print('hello')

hello
hello
hello
hello
hello

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(magician)

# A Closer Look at Looping
The concept of looping is important because it’s one of the most
common ways a computer automates repetitive tasks. For example, in a
simple loop like we used, Python initially reads the first
line of the loop:

In [ ]:
#for magician in magicians:

This line tells Python to retrieve the first value from the list magicians
and associate it with the variable magician. This first value is 'alice'.
Python then reads the next line:

In [ ]:
#print(magician)

Python prints the current value of magician, which is still 'alice'.
Because the list contains more values, Python returns to the first line of
the loop:

In [ ]:
#for magician in magicians:

When you’re using loops for the first time, keep in mind that the set
of steps is repeated once for each item in the list, no matter how many
items are in the list. If you have a million items in your list, Python
repeats these steps a million times—and usually very quickly.
Also keep in mind when writing your own for loops that you can
choose any name you want for the temporary variable that will be
associated with each value in the list. However, it’s helpful to choose a
meaningful name that represents a single item from the list. For
example, here’s a good way to start a for loop for a list of cats, a list of
dogs, and a general list of items:

In [10]:
#for cat in cats:
#for dog in dogs:
#for item in list_of_items:

In [11]:
motorcycles = ['honda', 'yamaha', 'suzuki']
for item in motorcycles:
  print(item)

honda
yamaha
suzuki

In [ ]:
#create list of color and print each color

In [ ]:
#Create list of 5 latters and print each latter.

In [ ]:
# Create list of fruits and print each friut.

# Doing More Work Within a for Loop

In [12]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!

#Exercise
Animals: Think of at least three different animals that have a common
characteristic. Store the names of these animals in a list, and then use a for loop to print
out the name of each animal.
*  Modify your program to print a statement about each animal,
such as A dog would make a great pet.
* Add a line at the end of your program stating what these
animals have in common. You could print a sentence such as Any of these animals would make a great pet!

In [ ]:
"""
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
  print(f"{magician.title()}, that was a great trick!")
  print(f"I can't wait to see your next trick, {magician.title()}.\n")
  print("Thank you everyone, that was a great magic show!")
"""

# Making Numerical Lists
Many reasons exist to store a set of numbers. For example, you’ll need
to keep track of the positions of each character in a game, and you
might want to keep track of a player’s high scores as well. In data
visualizations, you’ll almost always work with sets of numbers, such as
temperatures, distances, population sizes, or latitude and longitude
values, among other types of numerical sets.
Lists are ideal for storing sets of numbers, and Python provides a
variety of tools to help you work efficiently with lists of numbers. Once
you understand how to use these tools effectively, your code will work
well even when your lists contain millions of items.

# Using the range() Function
Python’s range() function makes it easy to generate a series of numbers.
For example, you can use the range() function to print a series of
numbers like this:

In [ ]:
for value in range(1, 5):
  print(value)

In this example, range() prints only the numbers 1 through 4. This is
another result of the off-by-one behavior you’ll see often in programming languages. The range() function causes Python to start
counting at the first value you give it, and it stops when it reaches the
second value you provide. Because it stops at that second value, the
output never contains the end value, which would have been 5 in this
case.
To print the numbers from 1 to 5, you would use range(1, 6):

In [ ]:
for value in range(1, 6):
  print(value)

If your output is different than what you expect when you’re using
range(), try adjusting your end value by 1.
You can also pass range() only one argument, and it will start the
sequence of numbers at 0. For example, range(6) would return the
numbers from 0 through 5.

In [ ]:
for value in range(1, 10):
  print(value)

In [ ]:
#for value in range(1, 11):
  print(value)

#Using range() to Make a List of Numbers
If you want to make a list of numbers, you can convert the results of
range() directly into a list using the list() function. When you wrap
list() around a call to the range() function, the output will be a list of
numbers.
In the example in the previous section, we simply printed out a series
of numbers. We can use list() to convert that same set of numbers into
a list:

In [ ]:
numbers = list(range(1, 6))
print(numbers)

We can also use the range() function to tell Python to skip numbers
in a given range. If you pass a third argument to range(), Python uses
that value as a step size when generating numbers.
For example, here’s how to list the even numbers between 1 and 10:

In [ ]:
even_numbers = list(range(1, 11, 2))
print(even_numbers)

In [ ]:
#  how to list the odd numbers between 1 and 10

You can create almost any set of numbers you want to using the
range() function. For example, consider how you might make a list of
the first 10 square numbers (that is, the square of each integer from 1
through 10). In Python, two asterisks (**) represent exponents. Here’s
how you might put the first 10 square numbers into a list

In [23]:
squares = []
for value in range(1, 11):
  square = value ** 2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# Simple Statistics with a List of Numbers
A few Python functions are helpful when working with lists of numbers.
For example, you can easily find the minimum, maximum, and sum of a
list of numbers:

In [24]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)

45

In [25]:
max(digits)

9

In [26]:
sum(digits)

45

# Exercise

In [ ]:
#Counting to Twenty: Use a for loop to print the numbers from 1 to 20, inclusive.

In [ ]:
# One Million: Make a list of the numbers from one to one million, and then use a
#for loop to print the numbers. (If the output is taking too long, stop it by pressing
#CTRL-C or by closing the output window.)

In [ ]:
# Summing a Million: Make a list of the numbers from one to one million, and then
#se min() and max() to make sure your list actually starts at one and ends at one
#million. Also, use the sum() function to see how quickly Python can add a million
#numbers.#

In [ ]:
#Odd Numbers: Use the third argument of the range() function to make a list of
#the odd numbers from 1 to 20. Use a for loop to print each number.

In [ ]:
#Threes: Make a list of the multiples of 3 from 3 to 30. Use a for loop to print the
#numbers in your list.

In [ ]:
#Cubes: A number raised to the third power is called a cube. For example, the cube
#of 2 is written as 2**3 in Python. Make a list of the first 10 cubes (that is, the cube of
##each integer from 1 through 10), and use a for loop to print out the value of each cube.

In [ ]:
#Cube Comprehension: Use a list comprehension to generate a list of the first 10
#cubes.